extends ../layouts/default

block sidebar 
	.sidebar
		ul.sidebar__ul
			li.sidebar__li
				a(href="#").sidebar__a Calculator 
			li.sidebar__li
				a(href="#").sidebar__a Matrixes

		ul.sidebar__ul
			li.sidebar__li
				a(href="#").sidebar__a Write a comment

block content
	.content
		h2 Matrixes (in developing) v0.0.1
		button#getResult.button Run
		#calcField.calc-field
		.calc-field
			.button-add#addButton
				i.fa.fa-plus-circle
		#resultField.result-field
