@import url('../../../styles/_less/variables');

.operator {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  padding: 5px 0;
  margin-right: 22px;
  cursor: pointer;
  &__caret {
    margin-top: -8px;
    transition: color .175s;
    color: @color-btn;
    font-size: 24px;
    text-align: center;
  }
  &:hover &__caret {
    color: darken(@color-btn, 10%);
  }
}
